.device-card {
  margin-bottom: 12px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 4px;
  margin-left: 7px;

  &.offline {
    background-color: #e65525;
    box-shadow: 2px 2px 2px #e78267;
  }

  &.online {
    background-color: green;
    box-shadow: 2px 2px 2px rgba(green, .3);
  }
}
